@tailwind base;
@tailwind components;
@tailwind utilities;

#homePage{
  height: 100vh;
  background-image: linear-gradient(to right , rgb(0,42,80), rgb(1,32,62),rgb(0,4,19), rgb(1,32,62));
}
#loader {
  animation: loader 4s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg) scale(2);
  }
}
#aragosText {
  animation: aragosText 4s infinite linear;
}

@keyframes aragosText {
  to {
    transform: rotate(-360deg) scale(2);
  }
}

body::-webkit-scrollbar{
  display: none;
}
.sim-card {
  width: 200px;
  height: 200px;
  background-color: rgba(20,20,20,0.8 ); /* Example color */
  clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%);
  border: 1px solid #888;
}
.small-sim-card {
  width: 50px;
  height: 50px;
  background-color: rgba(20,20,20,0.8 ); /* Example color */
  clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%);
  border: 1px solid #888;
}
.sim-card-clients {
  width: 300px;
  height: 170px;
  background-color: rgba(20,20,20,0.8 ); /* Example color */
  clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%);
  border: 1px solid #888;
}
.footerCards::-webkit-scrollbar{
  display: none;
}
.sim-card-small{
  width: 120px;
  height: 60px;
  background-color: rgba(20,20,20,0.8 ); /* Example color */
  clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%);
  border: 1px solid #888;
}
/* .sim-card+span{
  display: inline-block;

} */